{% extends "wizard/base.html" %}
{% block content %}
{% from "user/_macros.html" import render_field, render_checkbox_field, render_submit_field %}
    <div class="one column">
        <div class="ui segment">
            <div class="ui success message">
                <div class="header">
                    Configuration initiale de CBox
                </div>
                <p>
                    Une configuration initiale est requise pour utiliser CBox. <br>
                    Il est mis en place à l'aide d'une série de formulaires que vous traitez les uns après les autres. <br>
                    Après avoir confirmé chaque étape, les données stockées seront enregistrées. <br>
                    Vous pouvez toujours revenir en arrière dans les étapes pour corriger un paramètre. <br>
                    Après avoir finalement vérifié les données à l'étape 6, les modifications prendront effet.
                </p>
            </div>
            <a href="{{ url_for('wizard.networks') }}" class="ui large foursgrey-bg button">Démarrer la configuration</a>
        </div>
    </div>
{% endblock %}
{% block scripts %}
<script type="text/javascript">
$('.step.active').removeClass('active');
$('#step-index').addClass('active');
</script>
{% endblock %}
