{% extends "wizard/base.html" %}
{% block content %}
<div class="ui one column">
    <div class="ui active centered inline massive loader"></div>
</div>
<div class="ui one column">
    <div class="ui message">
        <div class="header">L'heure viendra bientôt...</div>
        <div class="content">Vous avez confirmé vos entrées. CBox va maintenant être configurée. S'il vous plaît soyez patient.</div>
    </div>
</div>
{% endblock %}
{% block scripts %}
<script type="text/javascript">
$('.step.active').removeClass('active');
$('#step-verify').addClass('active');
$('#progress').progress();
</script>
{% endblock %}
