{% extends 'user_base.html' %}
{% block user %}
{% from "user/_macros.html" import render_field, render_checkbox_field, render_submit_field %}
<div class="ui middle aligned center aligned two column grid">
  <div class="column">
    <h2 class="ui foursgrey image header">
      <div class="content">
        Bienvenue dans CBox
      </div>
    </h2>
    <div class="ui success message">
      <div class="header">
        Avant de pouvoir continuer, veuillez d'abord créer un compte administrateur.
      </div>
      <p>Pour ce faire, utilisez une adresse e-mail. Il permet de se connecter à l'interface et de restaurer le mot de passe en cas de perte.</p>
    </div>
  <form class="ui large form" action="{{ url_for('user.login') }}" method="POST" role="form">
    <div class="ui segment">
    {{ form.hidden_tag() }}
    {# Username or Email #}
    {% set field = form.email %}
        <div class="field">
          <div class="ui left icon input">
            <i class="mail icon"></i>
            <input type="email" id="{{ field.id }}" required="" name="{{ field.name }}" placeholder="E-Mail Adresse">
          </div>
        </div>
        {% if field.errors %}
            {% for e in field.errors %}
                <p class="ui orange message">{{ e }}</p>
            {% endfor %}
        {% endif %}
        {% if user_manager.USER_ENABLE_EMAIL and user_manager.USER_ENABLE_USERNAME %}
        <div class="field">
          <div class="ui left icon input">
            <i class="user icon"></i>
            <input type="text" id="{{ form.username.id }}" name="{{ form.username.name }}" placeholder="Nom d'utilisateur">
          </div>
        </div>
        {% if form.username.errors %}
            {% for e in form.username.errors %}
                <p class="ui orange message">{{ e }}</p>
            {% endfor %}
        {% endif %}
        {% endif %}
    <div class="field">
      <div class="ui left icon input">
        <i class="key icon"></i>
        <input type="password" id="{{ form.password.id }}" required="" name="{{ form.password.name }}" placeholder="Mot de passe">
      </div>
    </div>
    {% if form.password.errors %}
        {% for e in form.password.errors %}
            <p class="ui orange message">{{ e }}</p>
        {% endfor %}
    {% endif %}
    {% if user_manager.USER_REQUIRE_RETYPE_PASSWORD %}
    <div class="field">
      <div class="ui left icon input">
        <i class="key icon"></i>
        <input type="password" id="{{ form.retype_password.id }}" required="" name="{{ form.retype_password.name }}" placeholder="Répéter mot de passe">
      </div>
    </div>
    {% if form.retype_password.errors %}
        {% for e in form.retype_password.errors %}
            <p class="ui orange message">{{ e }}</p>
        {% endfor %}
    {% endif %}
    {% endif %}
    <button class="ui fluid large foursgrey-bg submit button">Enregistrer</button>
    </div>
</form>

{% endblock %}
