<!DOCTYPE html>
<html lang="fr" dir="ltr">
  <head>
    <meta charset="utf-8">
    {% block head %}
    <link rel="stylesheet" href="/static/external/semantic.min.css">
    <link rel="stylesheet" type="text/css" href="/static/box4s.css">
    <title>CBox</title>
    {% endblock %}
  </head>
  <body>
    {% if current_user.is_authenticated %}
      <div class="ui tabular menu">
        {% if current_user.has_role('Accueil') %}
          <div class="item active" id="start">
            <a class="item" id="startitem" href="/start">
              <i class="home icon"></i>
              Accueil
            </a>
          </div>
        {% endif %}
        {% if current_user.has_role('SIEM') or current_user.has_role('Dashboards-Master') %}
          <div class="item" id="siem">
            <div class="ui dropdown pointing link item">
              <i class="globe icon" id="securitymenu"></i> SIEM
      	       <i class="dropdown icon"></i>
               <div class="menu">
                 <a class="item" href="/siem-overview">Aperçu</a>
                 <a class="item" href="/siem-alerts">Alarmes</a>
                 <a class="item" href="/siem-asn">ASN</a>
                 <a class="item" href="/siem-http">HTTP</a>
                 <a class="item" href="/siem-dns">DNS</a>
                 <a class="item" href="/siem-proto">Protocoles & Services</a>
                 <a class="item" href="/siem-social-media">Média Social</a>
                 {% if ('false' | custom_getenv('CBox_WAZUH')) == 'true' %}<a class="item" href="/wazuh">Hôtes</a>{% endif %}
                 <a class="item" href="/spiderfoot">Intelligence</a>
                 {% if current_user.has_role('Config') %}<a class="item" href="/siem-discover">Découvrir</a>{% endif %}
               </div>
             </div>
           </div>
         {% endif %}
         {% if current_user.has_role('Vulnérabilité') or current_user.has_role('Dashboards-Master') %}
           <div class="item" id="vuln">
      	      <div class="ui dropdown pointing link item">
      	         <i class="bug icon"></i> Vulnérabilité
      	          <i class="dropdown icon"></i>
                  <div class="menu">
      	             <a class="item" href="/vuln-overview"> Aperçu </a>
      	             <a class="item" href="/vuln-progress"> Parcours </a>
      	             <a class="item" href="/vuln-details"> Détails </a>
                  </div>
              </div>
          </div>
        {% endif %}
        {% if current_user.has_role('Réseau') or current_user.has_role('Dashboards-Master') %}
          <div class="item" id="net">
      	     <div class="ui dropdown pointing link item">
               <i class="sitemap icon"></i> Réseau <i class="dropdown icon"></i>
               <div class="menu">
                 <a class="item" href="/network-overview">Aperçu</a>
      	         <a class="item" href="/network-streams">Flux de données</a>
      	         <a class="item" href="/network-asn">GeoIP & ASN</a>
      	       </div>
             </div>
          </div>
        {% endif %}
        {% if current_user.has_role('Sensibilisation') or current_user.has_role('Dashboards-Master') %}
          <div class="item" id="net">
      	     <div class="ui dropdown pointing link item">
               <i class="sitemap icon"></i> Sensibilisation <i class="dropdown icon"></i>
               <div class="menu">
                 <a class="item" href="/#">Hameçonnage</a>
      	         <a class="item" href="/#">Formation</a>
      	         <a class="item" href="/#"></a>
      	       </div>
             </div>
          </div>
        {% endif %}
        {% if current_user.has_role('FAQ') or current_user.has_role('User-Management') or current_user.has_role('Filter') or current_user.has_role('Updates') or current_user.has_role('Alerts') %}
          <div class="item" id="administration">
            <div id="dropdownLink" class="ui dropdown pointing link item">
      	       <i class="cogs icon"></i> Administration
               <i class="dropdown icon"></i>
               <div class="menu">
                 {% if current_user.has_role('FAQ') %}
                 <a class="item" href="/faq">FAQ</a>
                 {% endif %}
                 {% if current_user.has_role('User-Management') %}
                 <a class="item" href="/user">Utilisateur</a>
                 {% endif %}
                 {% if current_user.has_role('Config') %}
                 <a class="item" href="/config">Configuration</a>
                 {% endif %}
                 {% if current_user.has_role('Filter') %}
                 <a class="item" href="/filter">Filtre</a>
                 {% endif %}
                 {% if current_user.has_role('Alerts') %}
                 <a class="item" href="/alerts">Alarmes</a>
                 {% endif %}
                 {% if current_user.has_role('Updates') %}
                 <a class="item" href="/update" id="upd">Mises à jour</a>
                 {% endif %}
                 {% if current_user.has_role('Super Admin') %}
                 <a class="item" href="/repair">Réparation</a>
                 {% endif %}
                 {% if current_user.has_role('Super Admin') %}
                 <a class="item" href="/system">Système</a>
                 {% endif %}
               </div>
             </div>
           </div>
         {% endif %}
         {% if current_user.has_role('Wiki') %}
           <div class="item active" id="documentation">
            <a class="item" id="docuitem" href="/docs">
              <i class="book icon"></i>
              Documentation
            </a>
          </div>
        {% endif %}
         <div class="right menu">
           {% if current_user.is_authenticated %}
           <a class="item"></a>
           <div class="item">
             <div class="ui dropdown pointing link item">
               <i class="user icon"></i>{%if current_user.last_name %}{{ current_user.first_name }} {{current_user.last_name}} {% else %} {{ current_user.email }} {% endif %}
               <i class="dropdown icon"></i>
               <div class="menu">
                 <a class="item" href="{{url_for('user.logout')}}">Se déconnecter</a>
                 <a class="item" href="{{url_for('user.change_password')}}">Changer le mot de passe</a>
               </div>
             </div>
           </div>
           {% else %}
           <a class="item" id="user" href="//{{request.host}}/user/sign-in"><i class="user icon"></i>Connexion</a>
           {% endif %}
            <a class="item"id="4smenu" href="https://www.cyberhack.fr/" target="__blank"><img class="ui small image" src="/static/CBox_Logo.png"></a>
         </div>
       </div>
     {% endif %}
    {% block content %}
    {% endblock %}
    <script src="/static/external/jquery.min.js"></script>
    <script src="/static/external/semantic.min.js"></script>
    <script src="/static/semver.js" charset="utf-8"></script>
    <script type="text/javascript">
    $('.ui.dropdown').dropdown();

    //Get current Version
    $.ajax('//{{ request.host }}/api/ver/', {
      dataType: "json",
      timeout: 5000,
      success: (data) => {
        getAllVersion(data.version);
      }
    })

    //Get all available Versions
    function getAllVersion(curr_version){
      $.ajax('//{{ request.host }}/api/ver/releases/', {
        dataType: "json",
        timeout: 5000,
        success: (data) => {
          updateNotification(curr_version,data);
        }
      })
    }

    function updateNotification(curr_version, data){
      let updatectr = 0;
      data.forEach((version, i) => {
        //increase counter for each newer version
        if (semver.compare(curr_version, version.version) == -1){
          updatectr++;
        }
      })

      if ( updatectr > 0 ){
        //Add Update Notification if newer version found
        let updateBar = $(`#upd`);
        let AdminBar = $(`#dropdownLink`);
        let updatesUpdateBar = `<div class="ui grey label">${updatectr}</div>`;
        let updatesAdminBar = `<div class="floating ui grey label">${updatectr}</div>`;
        updateBar.append(updatesUpdateBar);
        AdminBar.append(updatesAdminBar)

      }
    }

    </script>
    {% block scripts %}{% endblock %}
  </body>
</html>
