{% extends "base.html" %}
{% block content %}
    <div class="ui main text container">
      {# One-time system messages called Flash messages #}
      {% block flash_messages %}
          {%- with messages = get_flashed_messages(with_categories=true) -%}
              {% if messages %}
                  {% for category, message in messages %}
                      <div class="ui message {{category}}">{{ message|safe }}</div>
                  {% endfor %}
              {% endif %}
          {%- endwith %}
      {% endblock %}
      <h1 class="ui header">CBox - FAQ</h1>
      <div class="ui inverted section divider"></div>
      <div id="faq" class="ui fluid styled accordion">
      <div class="title">
        <i class="dropdown icon"></i>
          Was ist die CBox?
      </div>
      <div class="content text-justify">
        <span class="transition hidden">CBox est une solution de sécurité développée par CyberHack pour le réseau de l'entreprise. L'état de sécurité du réseau de l'entreprise peut être surveillé à tout moment en enregistrant et en analysant les informations sur le trafic réseau, les analyses du système pour les vulnérabilité et l'affichage graphique des alarmes et des avertissements dans les tableaux de bord.</span>
      </div>
      <div class="title">
        <i class="dropdown icon"></i>
        Quels sont les aperçus?
      </div>
      <div class="content text-justify">
        <img class="ui centered fluid image" src="static/faq/nav.png">
        <p class="transition hidden">CBox a 4 zones superposées.</p>
        <p class="transition hidden"><b>SIEM</b> - Cette zone contient des tableaux de bord pour évaluer le système de détection d'attaque LIVE. Les informations sont basées sur des évaluations du trafic réseau.</p>
        <p class="transition hidden"><b>Vulnérabilité</b> - Ce domaine montre clairement, en détail et dans le temps les vulnérabilité identifiées.</p>
        <p class="transition hidden"><b>Réseau</b> - Cette zone contient des tableaux de bord pour afficher le flux de données, évaluations de géolocalisation et d'opérateur de réseau des adresses IP impliquées dans le trafic. Le journal et les valeurs vitales du système sont affichés ici.</p>
        <p class="transition hidden"><b>Administration</b> - Les mises à jour disponibles peuvent être appliquées dans la zone administrative. Il y a aussi un aperçu des filtres effectués ici (voir aussi <i>"Comment masquer les faux positifs?"</i>).</p>
      </div>
      <div class="title">
        <i class="dropdown icon"></i>
        Comment le scanner de vulnérabilité est-il configuré?
      </div>
      <div class="content text-justify">
        <p class="transition hidden">Le scanner de vulnérabilité a été configuré lors de l'installation de CBox. Le processus hebdomadaire des scans de vulnérabilité ainsi que les réseaux observés ont été mis en œuvre selon un accord mutuel entre l'administration informatique de votre entreprise et les employés de CyberHack.</p>
        <p class="transition hidden">Si vous souhaitez modifier la synchronisation ou la configuration du réseau, veuillez utiliser le <a class="kontakt" href="#kontakt">Formulaire</a> de contact à nous.</p>
      </div>
      <div class="title">
        <i class="dropdown icon"></i>
        Comment suivre de plus près une alarme qui s'est produite?
      </div>
      <div class="content text-justify">
        <p class="transition hidden">À l'aide de filtres épinglés, les alarmes qui se sont produites peuvent être suivies. Si vous avez identifié une caractéristique de données visible, déplacez la souris sur les informations et cliquez sur la loupe qui contient un signe plus. Vous pouvez filtrer toute information présentée.</p>
        <div class="ui divider"></div>
        <p class="transition hidden">Les images suivantes vous montrent les options de filtre plus en détail.</p>
        <img class="ui fluid bordered image" src="static/faq/filtercategory.jpg">
        <br>
        <img class="ui fluid bordered image" src="static/faq/filtersignature.jpg">
        <br>
        <img class="ui fluid bordered image" src="static/faq/filtersource.jpg">
        <div class="ui divider"></div>
        <p class="transition hidden">Enfin, les filtres que vous choisissez apparaîtront sous la barre de recherche en haut de la page.</p>
        <img class="ui fluid bordered image" src="static/faq/appliedfilters.jpg">
        <div class="ui divider"></div>
        <p class="transition hidden">Pour transférer un filtre sélectionné vers d'autres zones, faites un clic gauche sur le filtre et sélectionnez <i>Épingler sur toutes les applications</i>. Le filtre sélectionné est désormais également effectif lorsque les autres interfaces sont appelées. Les filtres épinglés peuvent à nouveau être supprimés en cliquant sur le filtre et enfin sur <i>Unpin</i>.</p>
        <img class="ui fluid bordered image" src="static/faq/pinfilter.jpg">
      </div>
      <div class="title">
        <i class="dropdown icon"></i>
        Comment masquer les faux positifs?
      </div>
      <div class="content text-justify">
        <p class="transition hidden">Si vous avez identifié un faux positif, cette alarme peut être exclue de l'enregistrement à l'avenir. Pour ce faire, procédez comme suit:</p>
        <p class="transition hidden">
          <div class="ui ordered list">
            <span class="item">Identifier les faux positifs</span>
            <span class="item">Sélectionnez le bouton "Supprimer l'alarme"</span>
            <span class="item">Vérifier les indicateurs en dialogue, ajouter ou réduire si nécessaire</span>
            <span class="item">Boîte de dialogue soumettre</span>
          </div>
          Une fois cette procédure effectuée, l'alarme ne sera plus enregistrée et n'apparaîtra plus dans le tableau de bord.
          Vous pouvez trouver un aperçu des alarmes supprimées et la possibilité de les annuler sous <i> Administration - Filtre</i>.
        </p>
        <p class="transition hidden">Vous pouvez également suivre cette vidéo pour effectuer la procédure ci-dessus:</p>
        <div class="transition hidden fluid">
          <video class="transition" controls src="static/faq/SuppressAlarms.mp4">
          </video>
        </div>
      </div>
      <div class="title">
        <i class="dropdown icon"></i>
        Supprimer les alarmes: quelle est la différence entre les méthodes Kernel et Logstash?
      </div>
      <div class="content text-justify">
        <p class="transition hidden"><b>Kernel</b> - L'option Kernel permet d'exclure les paquets par le système de détection d'intrusion avant qu'ils ne soient enregistrés. Cette option est la plus performante. Cependant, il ne peut être filtré que pour les informations des couches réseau et transport, c'est-à-dire les adresses IP, le port et le protocole.</p>
        <p class="transition hidden"><b>Logstash</b> - La fonction de filtrage Logstash prend effet après l'enregistrement du paquet par le système de détection d'intrusion. Les alarmes peuvent également être spécifiquement rejetées ici en fonction de leur signature.</p>
      </div>
      <div class="title">
        <i class="dropdown icon"></i>
        Comment demander des fonctionnalités manquantes?
      </div>
      <div class="content text-justify">
        <p class="transition hidden">Pour influencer le développement ultérieur de CBox, veuillez nous contacter en utilisant le <a class="kontakt" href="#kontakt"> formulaire de contact</a>.</p>
      </div>
    </div>
    <div class="ui hidden divider"></div>
    <div class="ui message">
      <div class="content">
        <p>
        <i class="svg question circle icon" aria-hidden="true">
        </i>
          Avez-vous d'autres questions ou avez-vous besoin d'aide? <br></p>
          {% if mailsent %}
            <div class="ui positive message">
              <div class="header">
                Votre demande à été envoyé.
              </div>
              <p>Merci pour votre demande. Nous ferons de notre mieux pour revenir à votre demande.</p>
            </div>
          {% endif %}
          <div id="contact" class="ui fluid accordion">
            <div class="title">
              <i class="dropdown icon"></i>
              Contactez-nous ici.
            </div>
            <div class="content">
          <form class="ui form" method="post">
            <div class="ui dimmer">
              <div class="ui active loader"></div>
            </div>
            {% if not client %}
            <div class="field">
              <label>Entreprise</label>
              <input type="text" name="company" placeholder="Votre Entreprise" required>
            </div>
            {% endif %}

            <div class="field">
              <label>Votre adresse e-mail</label>
              <input type="email" name="email" placeholder="Votre Adresse E-mail" required>
            </div>
            <div class="field">
              <label>Référence (optionnel)</label>
              <input type="text" name="subject" placeholder="CBox: Demande de FAQ">
            </div>
            <div class="field">
              <label>Votre problème</label>
              <textarea name="body"></textarea>
            </div>
            <button id="contactsubmit" class="ui button" type="submit">Envoyer</button>
          </form>
        </div>
        </div>
      </div>
      </div>
    </div>
    <div class="ui vertical footer segment">
      <div class="ui center aligned container">
      <img src="/static/CBox_Logo.png" class="ui centered small image">
    </div>
    </div>
{% endblock %}
{% block scripts %}
  <script type="text/javascript">
  $('div.item.active').removeClass('active');
  $('#administration').addClass('active');
  $('#contact').accordion();
  $('#faq').accordion('open',0);
  $("a.kontakt").click(() => {
    $('#contact').accordion('open', 0);
    setTimeout(() => window.location.href = '#contact', 200);
  })
  $('#contactsubmit').click(() => {
    $('.ui.dimmer').dimmer('show');
  })
  </script>
{% endblock %}
