{% extends 'user/emails/base_message.html' %}

{% block message %}

<p>Merci de vous être inscrit au {{ app_name }}.</p>

{% if confirm_email_link -%}
<p>La confirmation de votre adresse e-mail est requise pour l'utilisation.</p>

<p>Une fois cette inscription initiée, cliquez sur le lien ci-dessous<br/>
&nbsp;&nbsp;&nbsp;&nbsp;<a href="{{ confirm_email_link }}">Confirmez votre adresse email</a>.</p>

<p>Si vous n'avez pas initié cette inscription, vous pouvez ignorer cet e-mail.</p>
{%- endif %}

{% endblock %}